html {
    font-size: 62.5%;
    font-family: 'work sans', 'system-ui', 'sans-serif';
    line-height: 1.4;
    text-align: justify;
}

body {
    margin: 0;
}

h1 {
    font-size: 1.8rem;
}

p {
    font-size: 1.7rem;
    margin: 0;
}

a {
    font-size: 1.7rem;
    text-decoration: none;
}

ul {
    font-size: 1.7rem;
    padding: 0;
    list-style: none;
}

label {
    font-size: 1.6rem;
}